<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List App by Tanvir</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <div class="max-w-[1440px] mx-auto flex flex-col items-center">
    <header class="w-full flex flex-col items-center pt-12 lg:pt-12">
        <div class="mb-8"> 
            <a class="text-3xl md:text-5xl lg:text-5xl font-extrabold"><%= listTitle %> To Do List</a>
          </div>
        
    </header>
    <main class="w-3/4">
        